<div class="justify-content-center divazul">
    <h1 class="title1">INICIAR PARA SERVICIO DE RESERVAS COWORKING</h1>
    <h3 class="title3">CÁMARA DE COMERCIO DE PASTO</h3>
</div>
<div class="card-group row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 animated fadeInLeft">
        <div class="card">
            <div class="card-body">
                <h4 class="title4">Bienvenidos a nuestro sistema de recursos coworking</h4>
                <h4 class="title4">Cámara de Comercio de Pasto</h4>
                <p class="text-center text-primary">Inicie sesión para hacer su reserva </p>
                <div class="formbg pt-3 pb-3">
                    <form class="ml-5 mr-5">
                        <div class="mb-2 mt-0 form-group">
                            <input required type="email" class="form-control" id="emaillogin" aria-describedby="emailHelp" placeholder="Correo">
                        </div>
                        <div class="form-group">
                            <input required minlength="6" type="password" class="form-control" id="contraseña1" placeholder="Contraseña">
                        </div>
                        <div class="text-right">
                            <a href="#">olvidé mi contraseña</a>
                        </div>
                        <div class="text-center">
                            <hr>
                            <button type="submit" class="btn btn-primary btn-lg">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 animated fadeInLeft">
        <div class="card">
            <div class="card-body">
                <h4 class="title4">REGISTRO DE USUARIO</h4>
                <p>Para brindarle nuestro servicio de reservas por favor ingrese los siguiente datos</p>
                <div class="formbg  p-3">
                    <form class="">
                        <div class="form-group row">
                            <label for="nit" class="col-form-label col-sm-5 pr-0">NIT o número de matrícula:</label>
                            <input required type="text" class="form-control col-sm-7" aria-describedby="emailHelp" placeholder="">
                        </div>
                        <div class="form-group row">
                            <label for="nombre" class="col-form-label col-sm-5 pr-0">Nombre o razón social:</label>
                            <input required type="text" class="form-control col-sm-7" aria-describedby="emailHelp" placeholder="">
                        </div>
                        <div class="form-group row">
                            <label for="numero" class="col-form-label col-sm-5 pr-0">Número de teléfono:</label>
                            <input required type="number" class="form-control col-sm-7" aria-describedby="emailHelp" placeholder="">
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-form-label col-sm-5 pr-0">Correo electrónico:</label>
                            <input required type="email" class="form-control col-sm-7" aria-describedby="emailHelp" placeholder="">
                        </div>
                        <div class="form-group row">
                            <label for="contraseña2" class="col-form-label col-sm-5 pr-0">Contraseña:</label>
                            <input required minlength="6" type="password" class="form-control col-sm-7" id="contraseña2" placeholder="">
                        </div>
                        <div class="form-group row">
                            <label for="contraseña3" class="col-form-label col-sm-5 pr-0">Confirme contraseña:</label>
                            <input required minlength="6" type="password" class="form-control col-sm-7" id="contraseña3" placeholder="">
                        </div>
                        <div class="text-right">
                            <small>Al hacer click en registrar acepta las <a href="#">condiciones y políticas</a> de datos</small>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="mt-3 btn btn-primary btn-lg">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>