<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand left-align" href="https://www.ccpasto.org.co/">
        <img class="camara-ico" src="assets/img/camara-ico.jpg" alt="camara-ico">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link text-primary" routerLinkActive="active" [routerLink]="['home']">INICIO</a>
            <a class="nav-item nav-link text-primary" routerLinkActive="active" [routerLink]="['otros']">OTROS SERVICIOS</a>
            <a class="nav-item nav-link text-primary" routerLinkActive="active" [routerLink]="['otros']">ACERCA DEL SERVICIO</a>
        </div>
    </div>
</nav>