<!-- Footer -->
<footer class="page-footer font-small text-white pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-12 ml-5">
                <!-- Content -->
                <h4 class="font-weight-bold text-uppercase mt-2 mb-2">contáctenos</h4>
                <p class="psegundo mb-0">Sede principal: Calle 18 N° 28 - 84</p>
                <p class="psegundo mb-0">Teléfono: 57 (2) 7210529</p>
                <p class="psegundo mb-0">Correo electrónico: sedesur@@ccpasto@org.co</p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <hr>
    <!-- Copyright -->
    <div class="footer-copyright footerpie text-center py-3">
        © 2020 Copyright:
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->